<!-- requeststatus.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Request Status</title>
    <link rel="stylesheet" type="text/css" href="styles.css"> <!-- add reference to your CSS file -->
</head>
<body>
    <div class="content-container">
        <h1>Request Status:</h1>
        <div id="status-container">
            <% if (request.status === 'accept') { %>
                <p><%= request.receiver %> has joined <%= request.t_name %>.</p>
            <% } else if (request.status === 'reject') { %>
                <p><%= request.receiver %> has declined to join <%= request.t_name %>.</p>
            <% } %>
        </div>
    </div>
</body>
</html>
